@charset "utf-8";
/*
    Contents.css
*/


/*** Common ***/
/* owl-carousel  */
.owl-carousel .owl-item img {width:inherit;}
.owl-carousel .owl-nav {text-align:left;}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {display:inline-block;position:relative;width:44px;height:44px;background:#fff;border:1px solid #d5d5d5;border-radius:50%;box-sizing:border-box;transition:all 0.4s;}
.owl-carousel .owl-nav .owl-prev:after,
.owl-carousel .owl-nav .owl-next:after {position:absolute;left:50%;top:50%;width:9px;height:9px;border:solid #000;border-width:1px 1px 0 0;box-sizing:border-box;content:"";transition:all 0.4s;}
.owl-carousel .owl-nav .owl-prev:after {margin:-4px 0 0 -3px;transform:rotate(-135deg);}
.owl-carousel .owl-nav .owl-next:after {margin:-4px 0 0 -6px;transform:rotate(45deg);}
.owl-carousel .owl-nav button:hover {border-color:#000;}










/*** visual_area **/
.visual_area {position:relative;margin-bottom:100px;overflow:hidden;}

/* mc_visual */
.mc_visual {position:relative;}
.mc_visual .li {position:relative;display:block;float:left;width:100%;height:985px;box-sizing:border-box;overflow:hidden;cursor:default;}
.mc_visual .li .img {position:relative;height:600px;overflow:hidden;}
.mc_visual .li .img p {position:absolute;left:0;top:0;width:100%;height:100%;}
.mc_visual .li .list {position: relative;width:1200px;margin:0 auto;}
.mc_visual .li .list ul {margin-top:38px;}
.mc_visual .li .list li {float:left;margin-left:37px;}
.mc_visual .li .list li:first-child {margin-left:0;}
.mc_visual .li .list ul:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.mc_visual:after {display:block;clear:both;height:0;content:"";overflow:hidden;}

/* Active */
.mc_visual .li.act .img p {animation:scaleBg both ease-in-out 2.5s;z-index:1;}
.mc_visual .li.act .list li {animation:fadeTop both 0.6s}
.mc_visual .li.act .list li:nth-child(1) {animation-delay:0.4s;}
.mc_visual .li.act .list li:nth-child(2) {animation-delay:0.6s;}
.mc_visual .li.act .list li:nth-child(3) {animation-delay:0.8s;}
.mc_visual .li.act .list li:nth-child(4) {animation-delay:1s;}


/** Control **/
.visual_area .md_pagn_prev,
.visual_area .md_pagn_next {display:block;position:absolute;top:276px;width:44px;height:44px;border:1px solid rgba(255,255,255,0.6);border-radius:50%;box-sizing:border-box;text-indent:-9999px;overflow:hidden;z-index:5;transition:all 0.4s;}
.visual_area .md_pagn_prev {left:calc(50% - 622px);}
.visual_area .md_pagn_next {right:calc(50% - 622px);}
.visual_area .md_pagn_prev:after,
.visual_area .md_pagn_next:after {position:absolute;left:50%;top:50%;width:9px;height:9px;border:solid #fff;border-width:1px 1px 0 0;box-sizing:border-box;content:"";transition:all 0.4s;}
.visual_area .md_pagn_prev:after {margin:-4px 0 0 -3px;transform:rotate(-135deg);}
.visual_area .md_pagn_next:after {margin:-4px 0 0 -6px;transform:rotate(45deg);}
.visual_area .md_pagn_prev:hover,
.visual_area .md_pagn_next:hover {border-color:#000;}
.visual_area .md_pagn_prev:hover:after,
.visual_area .md_pagn_next:hover:after {border-color:#000;}

.visual_area .mc_visual_control {position:absolute;left:50%;top:520px;width:340px;margin-left:-170px;z-index:5;}
.visual_area .mc_visual_control_inner {position:relative;float:left;width:280px;height:50px;background:rgba(0,0,0,0.14);border-radius:25px;text-align:center;}
.visual_area .mc_visual_control .more {display:block;float:right;width:50px;height:50px;background:rgba(0,0,0,0.14) url("../images/btn_more.png") center no-repeat;border-radius:25px;text-indent:-9999px;overflow:hidden;}

/* md_pagn */
.visual_area .md_pagn {position:absolute;left:40px;top:15px;}
.visual_area .md_pagn a {display:none;position:relative;color:#fff;font-size:17px;font-weight:bold;line-height:18px;letter-spacing:0;text-align:center;text-decoration:none;outline:none;transition:all 0.4s;}
.visual_area .md_pagn a.selected {display:block;}
.visual_area .md_pagn_len {position:absolute;left:190px;top:15px;color:#fff;font-size:17px;font-weight:bold;line-height:18px;letter-spacing:0;text-align:center;text-decoration:none;}

/* md_timer */
.visual_area .md_timer {position:absolute;left:70px;top:24px;width:108px;height:2px;background:rgba(255,255,255,0.4);overflow:hidden;}
.visual_area .md_timer p {position:absolute;left:0;top:0;width:0;height:2px;background:#fff;}

/* md_play  */
.visual_area .md_play {position:absolute;right:30px;top:15px;}
.visual_area .md_play a {display:block;position:relative;width:20px;height:20px;overflow:hidden;outline:none;}
.visual_area .md_play .md_btn_play:before {position:absolute;left:50%;top:50%;width:0;height:0;border-width:5px 0 5px 8px;border-style:solid;border-color:transparent;border-left-color:#fff;content:"";transform:translate(-50%,-50%);transition:all 0.4s;}
.visual_area .md_play .md_btn_stop:before {position:absolute;left:6px;top:5px;width:2px;height:10px;background:#fff;content:"";transition:all 0.4s;}
.visual_area .md_play .md_btn_stop:after {position:absolute;left:11px;top:5px;width:2px;height:10px;background:#fff;content:"";transition:all 0.4s;}
.visual_area .md_play .md_btn_play {display:none;}
.visual_area .md_play .md_btn_stop {display:block;}
.visual_area .md_play.on .md_btn_play {display:block;}
.visual_area .md_play.on .md_btn_stop {display:none;}




/*** MD PICK ***/
.md_pick_cont {position:relative;margin-bottom:90px;padding-left:310px;}
.md_pick_cont .tit {position:absolute;left:0;top:13px;}
.md_pick_cont .tit .ani_st {left:20px;top:-20px;}
.md_pick_cont .owl-carousel .item {width:270px;height:270px;background:#f5f5f5;border-radius:50%;}
.md_pick_cont .owl-carousel .item a {display:block;position:relative;width:270px;height:270px;border-radius:50%;overflow:hidden;}
.md_pick_cont .owl-carousel .item a:before {position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.7);content:"";opacity:0;z-index:1;transition:all 0.4s;}
.md_pick_cont .owl-carousel .item a img {position:absolute;left:0;top:0;transition:all 0.4s;}
.md_pick_cont .owl-carousel .item a span {display:block;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;transform:translateY(20px);z-index:2;transition:all 0.4s;}
.md_pick_cont .owl-carousel .item a:hover:before {opacity:1;}
.md_pick_cont .owl-carousel .item a:hover img {transform:scale(1.05);}
.md_pick_cont .owl-carousel .item a:hover span {opacity:1;transform:translateY(0);transition:0.4s 0.1s;}
.md_pick_cont .owl-carousel .owl-nav {position:absolute;left:-310px;bottom:50px;}
.md_pick_cont .owl-carousel .owl-nav button {margin-right:10px;}



/*** Banner01 ***/
.banner01 {position:relative;}
.banner01:before {position:absolute;left:0;bottom:0;width:100%;height:120px;background:#efdfcf;content:"";}




/*** hot_deal ***/
.hot_deal {position:relative;margin:135px 0 150px 0;}
.hot_deal .tit {position: relative;}
.hot_deal .tit .s1 {position:absolute;left:428px;top:54px;animation:hot_dea1 both infinite 4s;}
.hot_deal .tit .s2 {position:absolute;right:54%;top:-24px;width:74px;animation:hot_dea2 both linear infinite 12s;}
.hot_deal .tit .s2 img {width:100%;}
.hot_deal .tit .ani_st {left:calc(50% - 12px);top:158px;}

@keyframes hot_dea1 {
0% {transform:scale(0.4);opacity:0;}	
20% {transform:scale(1.1);opacity:1;}
40% {transform:scale(0.6);}	
58% {transform:scale(1);}
100% {transform:scale(1);}
}

@keyframes hot_dea2 {
0% {right:0;top:-30px;}	
9% {right:13.5%;top:-70px;}	
18% {right:27%;top:-30px;}
29% {right:44.5%;top:-65px;transform:rotate(0deg);}
34% {transform:rotate(6deg);}
36% {right:54%;top:-20px;transform:rotate(20deg);}
50% {right:54%;top:-20px;transform:rotate(20deg);}
55% {transform:rotate(5deg);}
60% {right:66%;top:-50px;transform:rotate(0deg);}
70% {right:79%;top:-25px;}	
80% {right:92%;top:5px;}	
90% {right:106%;top:-50px;}	
100% {right:120%;top:-80px;}
}



/* hot_deal_cont */
.hot_deal_cont {position:relative;height:450px;margin:40px -360px 0 -510px;overflow:hidden;}
.hot_deal_cont:before {position:absolute;left:50%;top:0;width:450px;height:450px;margin-left:-150px;background:#ffdb53;border-radius:50%;content:"";}
.hot_deal_cont .owl-carousel .owl-nav button.owl-next,
.hot_deal_cont .owl-carousel .owl-nav button.owl-prev {position:absolute;top:215px;}
.hot_deal_cont .owl-carousel .owl-nav button.owl-next {left:calc(50% + 325px);}
.hot_deal_cont .owl-carousel .owl-nav button.owl-prev {right:calc(50% + 175px);}

.hot_deal_cont .item {display:block;position:relative;width:350px;height:450px;box-sizing:border-box;}
.hot_deal_cont .item a {display:block;position:relative;width:350px;height:450px;}
.hot_deal_cont .item .img {position:absolute;left:50%;top:80px;width:350px;height:350px;transform:translate(-50%,0);}
.hot_deal_cont .item .img img {width:350px;height:350px;}
.hot_deal_cont .item .txt {position:absolute;left:0;bottom:40px;width:100%;opacity:0;}
.hot_deal_cont .item .txt img {display:inline-block;width:auto;text-align:center;}
.hot_deal_cont .item .ico {position:absolute;left:50px;top:80px;opacity:0;transform:scale(0.4);}

.hot_deal_cont .center .item,
.hot_deal_cont .center .item a {width:500px;}
.hot_deal_cont .center .item .img {top:20px;transition:all 0.4s 0.8s}
.hot_deal_cont .center .item .txt {opacity:1;transition:all 0.4s 1.2s}
.hot_deal_cont .center .item .ico {opacity:1;transform:scale(1);transition:all 0.4s 1.2s}

.hot_deal_time {margin:20px 0 40px 0;}
.hot_deal_timeline {position:relative;width:450px;margin:0 auto;}
.hot_deal_timeline .bar {position:relative;width:100%;height:10px;background:#d5d5d5;border-radius:5px;overflow:hidden;}
.hot_deal_timeline .bar span {position:absolute;left:0;top:0;width:0%;height:10px;background:#000;border-radius:5px;overflow:hidden;}
.hot_deal_timeline .fire {position:absolute;left:0;top:-28px;transform:translateX(-22px);}

.hot_deal_timeline.active .bar span {animation:fire_timeline both 80s;}
.hot_deal_timeline.active .fire {animation:fire_timeline2 both 80s;}

@keyframes fire_timeline {
0% {width:0%;}	
1.1% {width:35%;}	
100% {width:100%;}
}
@keyframes fire_timeline2 {
0% {left:0%;}	
1.1% {left:35%;}	
100% {left:100%;}
}





/*** hot_view ***/
.hot_view {position:relative;margin-bottom:70px;}
.hot_view .tit {position:relative;margin-bottom:42px;}
.hot_view .tit span {position:absolute;left:225px;top:-54px;animation:hot_view_tit both infinite 5s;transform-origin:60% 89%;}


@keyframes hot_view_tit {
0% {transform:scale(0.3) rotate(-30deg);}
15% {transform:scale(1) rotate(0deg);}
100% {transform:scale(1) rotate(0deg);}
}



.hot_view .list {position:relative;margin:0 -18px;text-align:left;opacity:0;transition:all 0.4s;}
.hot_view .list li {float:left;margin:0 18px 36px 18px;opacity:0;transition:all 0.6s;}
.hot_view .list li a {display:block;position:relative;width:273px;height:273px;border-radius:24px;overflow:hidden;}
.hot_view .list li a:before {position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.7);content:"";opacity:0;z-index:1;transition:all 0.4s;}
.hot_view .list li a img {position:absolute;left:0;top:0;transition:all 0.4s;}
.hot_view .list li a span {display:block;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;transform:translateY(20px);z-index:2;transition:all 0.4s;}
.hot_view .list li a:hover:before {opacity:1;}
.hot_view .list li a:hover img {transform:scale(1.05);}
.hot_view .list li a:hover span {opacity:1;transform:translateY(0);transition:0.4s 0.1s;}
.hot_view .list:after {display:block;clear:both;height:0;content:"";overflow:hidden;}

.hot_view .list.active {opacity:1;}
.hot_view .list.active li {opacity:1;}
.hot_view .list.active li:nth-child(1) {transition-delay:0.6s;}
.hot_view .list.active li:nth-child(2) {transition-delay:0.4s;}
.hot_view .list.active li:nth-child(3) {transition-delay:0.8s;}
.hot_view .list.active li:nth-child(4) {transition-delay:0.4s;}
.hot_view .list.active li:nth-child(5) {transition-delay:1.2s;}
.hot_view .list.active li:nth-child(6) {transition-delay:1.0s;}
.hot_view .list.active li:nth-child(7) {transition-delay:1.4s;}
.hot_view .list.active li:nth-child(8) {transition-delay:1.2s;}




/*** hot_promotion ***/
.hot_promotion {position:relative;margin-bottom:100px;}
.hot_promotion .tit {margin-bottom:45px;}
.hot_promotion .list {position:relative;margin:0 -18px;text-align:left;opacity:1;}
.hot_promotion .list li {float:left;margin:0 18px 36px 18px;opacity:0;transform:translateY(40px);transition:all 0.4s;}
.hot_promotion .list.li2 li:nth-child(1),
.hot_promotion .list.li2 li:nth-child(3) {margin-top:-95px;}
.hot_promotion .list:after {display:block;clear:both;height:0;content:"";overflow:hidden;}

.hot_promotion li.active {opacity:1;transform:translateY(0);}
.hot_promotion li:nth-child(1).active {transition-delay:0.5s;}
.hot_promotion li:nth-child(2).active {transition-delay:0.3s;}
.hot_promotion li:nth-child(3).active {transition-delay:0.7s;}
.hot_promotion .li2 li:nth-child(1).active {transition-delay:0.3s;}
.hot_promotion .li2 li:nth-child(2).active {transition-delay:0.5s;}
.hot_promotion .li2 li:nth-child(3).active {transition-delay:0.7s;}





/*** Banner02 ***/
.banner02 {position:relative;}
.banner02:before {position:absolute;left:0;top:0;width:100%;height:120px;background:#a76d5f;content:"";}
.banner02 .inner > img {opacity:0;transition:all 0.4s 0.2s;}
.banner02 li {position:absolute;left:0;top:0;width:100%;opacity:0;transform:scale(0.5);transition:all 0.4s;}
.banner02 li:nth-child(1) {transform-origin:67% 31%;}
.banner02 li:nth-child(2) {transform-origin:21% 89%;}

.banner02.active .inner > img {opacity:1;} 
.banner02.active li {opacity:1;transform:scale(1);} 
.banner02.active li:nth-child(1) {transition-delay:0.4s;}
.banner02.active li:nth-child(2) {transition-delay:0.6s;}





/*** hot music ***/
.hot_music {position:relative;margin-top:115px;}
.hot_music .tit {position:relative;margin-bottom:3px;}
.hot_music .tit .s1 {position:absolute;left:405px;top:60px;animation:hot_dea1 both infinite 4s;}
.hot_music .tit .s2 {position:absolute;left:773px;top:5px;animation:hot_dea1 both infinite 4s 0.5s;}

/* mc_music_cont */
.mc_music_cont {position:relative;margin-left:-225px;}
.mc_music_cont  .caroufredsel_wrapper {width:1660px !important;}
.mc_music_list {position:relative;width:100%;height:540px;text-align:center;overflow:hidden;cursor:default;}
.mc_music_list .li {display:inline-block;position:relative;width:273px;height:540px;margin:0 18px;box-sizing:border-box;text-align:left;font-size:0;overflow:hidden;transition:all 0.4s}
.mc_music_list .li .img {position:absolute;left:50%;top:90px;width:273px;height:273px;border-radius:50%;transform:translateX(-50%);overflow:hidden;transition:transform ease-in-out 0.5s;}
.mc_music_list .li .img img {width:100%;}
.mc_music_list .li .img:after {position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.3);content:"";opacity:0;transition:opacity 0.6s;}
.mc_music_list .li .view {position:absolute;left:0;top:0;width:100%;height:100%;animation:rotate both linear infinite 10s;z-index:2;opacity:0;transition:opacity 0.6s;}
.mc_music_list .li .d-day {position:absolute;left:50%;top:165px;width:120px;height:120px;background:#fff;border-radius:50%;transform:translateX(-50%);}
.mc_music_list .li .txt {position:absolute;left:0;top:436px;width:100%;text-align:center;}
.mc_music_list .li .ani_st {position:absolute;left:50%;top:19px;margin-left:-12px;display:none;}

.mc_music_list .li.act2 {width:376px;}
.mc_music_list .li.act .img {top:40px;width:376px;height:376px;transform:translateX(-50%) rotate(720deg);transition:all ease-in-out 0.5s 0.5s;}
.mc_music_list .li.act .img:after {opacity:1;}
.mc_music_list .li.act .view {opacity:1;transition-delay:0.7s;}
.mc_music_list:after {display:block;clear:both;height:0;content:"";overflow:hidden;}





/*** mc_life ***/
.mc_life {position:relative;margin:100px 0 120px 0;}
.mc_life_cont {position:relative;width:1270px;margin:0 auto;}
.mc_life_cont .s1 {display:none;position:absolute;right:0;top:0;}
.mc_life_cont .s2 {display:none;position:absolute;left:5px;top:540px;}
.mc_life_cont .item {position:relative;padding-top:30px;}
.mc_life_cont .active .s1 {display:block;animation:scale both cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.7s 0.8s;}
.mc_life_cont .active .s2 {display:block;animation:scale both cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.7s 1s;}
.mc_life_cont .owl-nav button.owl-next,
.mc_life_cont .owl-nav button.owl-prev {position:absolute;top:350px;}
.mc_life_cont .owl-nav button.owl-next {left:calc(50% + 620px);}
.mc_life_cont .owl-nav button.owl-prev {right:calc(50% + 620px);}



/*** mc_gift ***/
.mc_gift {position: relative;height:780px;background:#114b34;}




/*** mc_cate ***/
.mc_cate {position:relative;margin:100px 0;}
.mc_cate .tit .ani_st {left:424px;top:1px;}
.mc_cate .tit .s1 {position:absolute;left:737px;top:10px;animation:mc_cate_tit both linear infinite 2s;}

@keyframes mc_cate_tit {
0% {transform:scale(1) rotate(-20deg)}
50% {transform:scale(0.9) rotate(10deg)}
100% {transform:scale(1) rotate(-20deg)}
}


.mc_cate .list {margin:-20px -17px 40px -17px;}
.mc_cate .list li {float:left;margin:60px 17px 0 17px;opacity:0;transition:all 0.4s;}
.mc_cate .list li.active {opacity:1;}
.mc_cate .list li:nth-child(1).active {transition-delay:0.4s;}
.mc_cate .list li:nth-child(2).active {transition-delay:0.6s;}
.mc_cate .list li:nth-child(3).active {transition-delay:0.8s;}
.mc_cate .list li:nth-child(4).active {transition-delay:1s;}
.mc_cate .list li:nth-child(5).active {transition-delay:0.4s;}
.mc_cate .list li:nth-child(6).active {transition-delay:0.6s;}
.mc_cate .list li:nth-child(7).active {transition-delay:0.8s;}
.mc_cate .list li:nth-child(8).active {transition-delay:1s;}
.mc_cate .list:after {display:block;clear:both;height:0;content:"";overflow:hidden;}



/*** Hot Promotion02 ***/
.hot_promotion02 {position:relative;}
.hot_promotion02 .tit {position:relative;margin-bottom:20px;}
.hot_promotion02 .tit span {position:absolute;left:425px;top:0;animation:hot_promotion02_tit both cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite 5s;}
.hot_promotion02_cont {position:relative;margin-bottom:40px}
.hot_promotion02_cont .item {opacity:0.3;transition:opacity 0.6s;}
.hot_promotion02_cont .center .item {opacity:1;transition-delay:0.4s;}

.hot_promotion02_cont .owl-nav button.owl-next,
.hot_promotion02_cont .owl-nav button.owl-prev {position:absolute;top:200px;}
.hot_promotion02_cont .owl-nav button.owl-next {left:calc(50% + 440px);}
.hot_promotion02_cont .owl-nav button.owl-prev {right:calc(50% + 440px);}

@keyframes hot_promotion02_tit {
0% {transform:translateY(50%);opacity:0;}
18% {transform:translateY(0%);opacity:1;}
100% {transform:translateY(0%);}
}






/*** Banner03 ***/
.banner03 {position:relative;margin:100px 0;}
.banner03 li {float:left;margin-left:34px;opacity:0;transform:translateY(20px);transition:all 0.4s;}
.banner03 li:first-child {margin-left:0;}
.banner03 ul:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.banner03.active li {opacity:1;transform:translateY(0);transition-delay:0.4s;} 
.banner03.active li:nth-child(2) {transition-delay:0.6s;}
.banner03.active li:nth-child(3) {transition-delay:0.8s;}




















/***** Sub *****/
.sub_area {position:relative;padding-top:90px;}
.sub_area:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.prod_cate {position:fixed;top:210px;left:0;width:100%;background:#fff;text-align:center;z-index:2;}
.prod_view {position:relative;width:50%;margin-left:-20px;}
.prod_list {position:sticky;float:right;width:331px;top:300px;z-index:1;}







