@charset "utf-8";
/*
    Layout.css
*/

/***** Common *****/
* {margin:0;padding:0;}
img {border:none;vertical-align:top;}
li {list-style:none;}





/***** layout *****/
body {min-width:1300px;background:#fff;color:#000;font-family:'LG Smart','Malgun Gothic','맑은 고딕',Dotum,Arial;font-size:14px;font-weight:400;line-height:20px;-webkit-text-size-adjust:none;}
#wrap {position:relative;}
.inner {position:relative;width:1300px;margin:0 auto;padding:0 50px;box-sizing:border-box;}


/**** Header ****/
header {position:fixed;left:0;top:0;width:100%;height:210px;background:#fff;border-bottom:1px solid #dfdfdf;box-sizing:border-box;z-index:100;}
header:before {position:absolute;right:0;top:0;width:50%;height:42px;background:#eaebf0;content:"";}
header:after {position:absolute;left:0;top:0;width:100%;height:4px;background:#eaebf0;content:"";}
header .inner {height:209px;background:#fff url("../images/header.jpg") center top no-repeat;}
header .ani_st {left:51px;top:54px;}



/**** Container ****/
#container {position:relative;padding-top:210px;background:#ffff;text-align:center;}
#container section {overflow:hidden;}


.ani_st {position:absolute;left:0;top:0;width:24px;height:26px;z-index:5;}
.ani_st .a1 {position:absolute;left:8px;top:0;width:8px;height:8px;background:#268b15;border-radius:50%;z-index:1;animation:ani_st1 both infinite 3s;}
.ani_st .a2 {position:absolute;left:0;top:0;width:24px;height:22px;overflow:hidden;}
.ani_st .a2 span {display:block;position:absolute;left:0;top:8px;width:0;height:0;border-top:14px solid none;border-right:12px solid transparent;border-bottom:14px solid #d53020;border-left:12px solid  transparent;animation:ani_st2 both linear infinite 3s}

@keyframes ani_st1 {
0% {transform:scale(0.2);opacity:0;}	
20% {transform:scale(0.2);opacity:0;}
30% {transform:scale(1.2);opacity:1;}
34% {transform:scale(1);}
100% {transform:scale(1);}
}

@keyframes ani_st2 {
0% {transform:translateY(150%);border-bottom-width:5px;}
21% {transform:translateY(-30%);border-bottom-width:22px;}
25% {transform:translateY(0);border-bottom-width:14px;}
100% {transform:translateY(0)}
}





/**** Footer ****/
.footer_banner {background:#f6f7f9;}
.footer_banner .inner {height:220px;background:url("../images/footer_banner.jpg") center no-repeat;}
.footer_cont {position:relative;}
.footer_cont:before {position:absolute;left:0;top:0;width:100%;height:1px;background:#d5d5d5;content:"";z-index:1;}
.footer_cont:after {position:absolute;left:0;top:60px;width:100%;height:1px;background:#d5d5d5;content:"";z-index:1;}
.footer_cont .inner {height:370px;background:url("../images/footer_cont.jpg") center no-repeat;}








@keyframes scaleBg {
0% {transform:scale(1.05);}
100% {transform:scale(1);}
}
@keyframes fade {
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes fadeTop {
0% {opacity:0;transform:translateY(20px);}
100% {opacity:1;transform:translateY(0);}
}
@keyframes rotate {
0% {transform:rotate(0);}
100% {transform:rotate(360deg);}
}











