@charset "utf-8";
/*
    Contents.css
*/

/**** Main  ****/


/*** Visual Area ***/
.mc01 {position:relative;padding-top:65px;background:#000;}
.visual_area {position:relative;width:1790px;height:780px;margin-left:-295px;}


/* mc_visual */
.mc_visual {position:relative;height:780px;}
.mc_visual .li {position:relative;display:block;width:100%;height:780px !important;border-radius:40px 40px 0 0;box-sizing:border-box;overflow:hidden;cursor:default;}
.mc_visual .li.s1 {background:#d40000 url("../images/mc01_bg01.jpg") center no-repeat;}
.mc_visual .li.s2 {background:#ffc762;}
.mc_visual .li.s3 {background:#148455 url("../images/mc01_bg02.jpg") center no-repeat;}

.mc_visual .li .img li {position:absolute;opacity:0;transition:all 0.6s;}
.mc_visual .li .img li img {display:block;position:relative;}
.mc_visual .li.s1 .img .c1 {right:130px;top:0;z-index:1;}
.mc_visual .li.s2 .img .c1 {right:0;top:0;}
.mc_visual .li.s3 .img .c1 {right:284px;top:70px;z-index:1;}
.mc_visual .li .img .c2 {right:175px;top:120px;}
.mc_visual .li .img .c3 {right:960px;top:470px;}
.mc_visual .li .img .c4 {right:70px;top:485px;}

.mc_visual .li .txt {position:absolute;left:175px;top:180px;}
.mc_visual .li .txt li {position:relative;overflow:hidden;}
.mc_visual .li .txt li img {display:block;position:relative;opacity:0;}
.mc_visual .li .txt li.t2 {margin-top:15px;}
.mc_visual .li .txt li.t3 {margin-top:35px;}
.mc_visual .li .txt li.t4 {margin-top:60px;}

.mc_visual .li.act .txt .t1 img {animation:fadeTop2 both 0.5s 0.2s;}
.mc_visual .li.act .txt .t2 img {animation:fadeTop2 both 0.5s 0.5s;}
.mc_visual .li.act .txt .t3 img {animation:fade both 0.5s 0.8s;}
.mc_visual .li.act .txt .t4 img {animation:fade both 0.5s 1.1s;}

.mc_visual .li.act .img li {opacity:1;transition-delay:0.2s;}
.mc_visual .li.act .img .c2,
.mc_visual .li.act .img .c3,
.mc_visual .li.act .img .c4  {animation:mc1_intro both 1.3s;}
.mc_visual .li.act .img .c2  {animation-delay:0.7s;}
.mc_visual .li.act .img .c3 {animation-delay:0.9s;}
.mc_visual .li.act .img .c4  {animation-delay:1.1s;}
.mc_visual .li.act .img .c2 img {animation:mc1_word1 both linear infinite 10s;}
.mc_visual .li.act .img .c3 img {animation:mc1_word2 both linear infinite 9s;}
.mc_visual .li.act .img .c4 img {animation:mc1_word3 both linear infinite 8s;}

@keyframes mc1_intro {
0% {transform:scale(0) translate(80%,80%);opacity:0;}
100% {transform:scale(1) translate(0,0);opacity:1;}
}

@keyframes mc1_word1 {
0% {transform:translate(0%,0%);}
25%{transform:translate(-5%,-7%);}
50%{transform:translate(-2%,7%);}
75%{transform:translate(5%,10%);}
100% {transform:translate(0%,0%);}
}
@keyframes mc1_word2 {
0% {transform:translate(0%,0%);}
20%{transform:translate(5%,-5%);}
50%{transform:translate(3%,5%);}
70%{transform:translate(-10%,4%);}
100% {transform:translate(0%,0%);}
}
@keyframes mc1_word3 {
0% {transform:translate(0%,0%);}
25%{transform:translate(-12%,-2%);}
50%{transform:translate(-2%,7%);}
75%{transform:translate(14%,13%);}
100% {transform:translate(0%,0%);}
}



/* Control */

.visual_area .mc_visual_control {position:absolute;left:50%;bottom:50px;width:280px;margin-left:-720px;z-index:5;}
.visual_area .mc_visual_control_inner {position:relative;float:left;width:200px;height:50px;background:rgba(0,0,0,0.14);border-radius:25px;text-align:center;}
.visual_area .mc_visual_control .more {display:block;float:right;width:50px;height:50px;background:rgba(0,0,0,0.14) url("../images/btn_more.png") center no-repeat;border-radius:25px;text-indent:-9999px;overflow:hidden;}

/* md_pagn */
.visual_area .md_pagn {position:absolute;left:20px;top:15px;}
.visual_area .md_pagn a {display:none;position:relative;color:#fff;font-size:17px;font-weight:bold;line-height:18px;letter-spacing:0;text-align:center;text-decoration:none;outline:none;transition:all 0.4s;}
.visual_area .md_pagn a.selected {display:block;}
.visual_area .md_pagn_len {position:absolute;left:160px;top:15px;color:#fff;font-size:17px;font-weight:bold;line-height:18px;letter-spacing:0;text-align:center;text-decoration:none;}

/* md_timer */
.visual_area .md_timer {position:absolute;left:50px;top:24px;width:65px;height:2px;background:rgba(255,255,255,0.4);overflow:hidden;}
.visual_area .md_timer p {position:absolute;left:0;top:0;width:0;height:2px;background:#fff;}

/* md_play  */
.visual_area .md_play {position:absolute;right:50px;top:15px;}
.visual_area .md_play a {display:block;position:relative;width:20px;height:20px;overflow:hidden;outline:none;}
.visual_area .md_play .md_btn_play:before {position:absolute;left:50%;top:50%;width:0;height:0;border-width:5px 0 5px 8px;border-style:solid;border-color:transparent;border-left-color:#fff;content:"";transform:translate(-50%,-50%);transition:all 0.4s;}
.visual_area .md_play .md_btn_stop:before {position:absolute;left:6px;top:5px;width:2px;height:10px;background:#fff;content:"";transition:all 0.4s;}
.visual_area .md_play .md_btn_stop:after {position:absolute;left:11px;top:5px;width:2px;height:10px;background:#fff;content:"";transition:all 0.4s;}
.visual_area .md_play .md_btn_play {display:none;}
.visual_area .md_play .md_btn_stop {display:block;}
.visual_area .md_play.on .md_btn_play {display:block;}
.visual_area .md_play.on .md_btn_stop {display:none;}









/*** MD Picks ***/
.mc02 {position:relative;height:900px;background:#ded2bf;}
.mc02_cont {position:relative;width:1600px;margin-left:-200px;}
.mc02_cont .tit {position:absolute;left:50%;top:120px;transform:translateX(-50%);}
.mc02_cont .tit span {position: absolute;animation:md02_cont both infinite 4s;}
.mc02_cont .tit .c1 {left:115px;top:17px;}
.mc02_cont .tit .c2 {left:68px;top:63px;animation-delay:0.5s;}
.mc02_cont .tit .c3 {left:561px;top:47px;animation-delay:0.7s;}
.mc02_cont li {position:absolute;}
.mc02_cont li span {position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;transition:opacity 0.5s;}
.mc02_cont li a:hover span {opacity:1;}
.mc02_cont .list {transition-delay:0.8s}
.mc02_cont .s1 {left:65px;top:120px;animation:flip infinite ease-in-out 5s;}
.mc02_cont .s2 {right:25px;top:120px;animation:flip infinite ease-in-out 4s 0.4s;}
.mc02_cont .s3 {left:175px;top:468px;animation:flip infinite ease-in-out 4.5s 0.3s;}
.mc02_cont .s4 {right:145px;top:468px;animation:flip infinite ease-in-out 5.5s 0.2s;}

@keyframes md02_cont {
0% {transform:scale(0.4);opacity:0;}	
20% {transform:scale(1.1);opacity:1;}
40% {transform:scale(0.6);}	
58% {transform:scale(1);}
100% {transform:scale(1);}
}

@keyframes flip {
0% {transform:perspective(400px) rotateX(0) rotateY(-5deg);}
50% {transform:perspective(400px) rotateX(0) rotateY(5deg);}
100% {transform:perspective(400px) rotateX(0) rotateY(-5deg);} 
}


/*** 핫트딜 ***/
.mc03 {position:relative;padding:40px 0 100px 0;background:#fff;}
.mc03 .tit {margin-bottom:30px;transform:scale(0.4);opacity:0;transition:all 0.3s;transform-origin:center 70%}
.mc03 .list {position:relative;margin:0 -30px;}
.mc03 .list li {float:left;margin:0 30px;}
.mc03 .list:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.mc03 .btn {margin-top:55px;}

.mc03 .tit.active {transform:scale(1);opacity:1;transition:all 0.5s 0.2s;}
.mc03 .list li:nth-child(2).active {transition-delay:0.4s;}
.mc03 .list li:nth-child(3).active {transition-delay:0.6s;}



/*** 지금 이 상품을 ***/
.mc04 {position:relative;padding:160px 0 170px 0;background:#1977f2 url("../images/mc04_bg.png") 17px 30px repeat;}
.mc04 .tit {position:relative;margin-bottom:145px;}
.mc04 .tit_inner {display:inline-block;position:relative;}
.mc04 .tit .ico {position:absolute;left:-145px;top:-36px;width:65px;}
.mc04 .tit .ico2 {position:absolute;right:-150px;top:-55px;animation:mc04_s2 both linear infinite 2.7s;}
.mc04 .tit .ico3 {position:absolute;left:5px;top:-25px;}

@keyframes mc04_s2 {
0% {transform:scale(1) rotate(20deg)}
50% {transform:scale(0.9) rotate(-10deg)}
100% {transform:scale(1) rotate(20deg)}
}



.mc04 .list {position:relative;height:2280px;}
.mc04 .list li {position:absolute;opacity:0;transform:translateY(40px);transition:all 0.6s 0.4s;}
.mc04 .list li.active {opacity:1;transform:translateY(0);}
.mc04 .list li:nth-child(2).active,
.mc04 .list li:nth-child(5).active,
.mc04 .list li:nth-child(7).active,
.mc04 .list li:nth-child(9).active {transition-delay:0.6s;}
.mc04 .list li:nth-child(3) {transition-delay:0.8s;}
.mc04 li:nth-child(1) {left:0;top:0;}
.mc04 li:nth-child(2) {left:359px;top:0;}
.mc04 li:nth-child(3) {left:880px;top:0;}
.mc04 li:nth-child(4) {left:118px;top:630px;}
.mc04 li:nth-child(5) {left:588px;top:616px;}
.mc04 li:nth-child(6) {left:-30px;top:1272px;}
.mc04 li:nth-child(7) {left:608px;top:1272px;}
.mc04 li:nth-child(8) {left:-30px;top:1798px;}
.mc04 li:nth-child(9) {left:608px;top:1798px;}




/*** 곧 발매되는 음반 소식 ***/
.mc05 {position:relative;background:#000;}
.mc05_cont {display:block;height:1150px;background:url("../images/mc05_img.png") center no-repeat;}




/*** 음반배너 ***/
.mc06 {position:relative;background:#222;height:200px}
.mc06_cont {display:block;height:200px;background:url("../images/mc06_img.png") left center repeat-x;animation:mc06_cont both infinite linear 25s;}

@keyframes mc06_cont {
0% {background-position:0 center;}
100% {background-position:-2400px center;}
}




/*** Banner ***/
.mc07 {position:relative;height:264px;background:#936dfc;}
.mc07 .img {position:absolute;left:0;top:0;width:100%;height:100%;background:url("../images/mc07_img.png") center no-repeat;}
.mc07 .s1 {position:absolute;left:70px;top:-3px;animation:mc07_s1 both linear infinite 2.9s;}
.mc07 .s2 {position:absolute;right:35px;top:-23px;animation:mc07_s2 both linear infinite 2.7s;}

@keyframes mc07_s1 {
0% {transform:scale(1) translateY(-20px);}
50% {transform:scale(0.9) translateY(20px);}
100% {transform:scale(1) translateY(-20px);}
}

@keyframes mc07_s2 {
0% {transform:scale(1) rotate(-20deg)}
50% {transform:scale(0.9) rotate(10deg)}
100% {transform:scale(1) rotate(-20deg)}
}




/*** 이순간 감성충전 ***/
.mc08 {position:relative;padding:98px 0 105px 0;background:#f5ede2 url("../images/mc08_bg.png") center top repeat;}
.mc08 .tit {margin-bottom:62px;}
.mc08 .tit p {display:inline-block;position:relative;}
.mc08 .tit p .a1:before,
.mc08 .tit p .a1:after,
.mc08 .tit p .a2:before,
.mc08 .tit p .a2:after, 
.mc08 .tit p .a3:before,
.mc08 .tit p .a3:after, 
.mc08 .tit p .a4:before,
.mc08 .tit p .a4:after, 
.mc08 .tit p .a5:before,
.mc08 .tit p .a5:after,
.mc08 .tit p .a6:before,
.mc08 .tit p .a6:after, 
.mc08 .tit p .a7:before,
.mc08 .tit p .a7:after {position:absolute;background:#bc554f;content:"";}
.mc08 .tit p span {opacity:0;transition:all 0.4s;}

.mc08 .tit.active p .a1:before {left:0;top:0;width:100%;height:1px;animation:width both 1s 0.2s;}
.mc08 .tit.active p .a1:after {right:0;top:7px;width:100%;height:1px;animation:width both 1s 0.2s;}
.mc08 .tit.active p .a2:before {left:0;bottom:0;width:100%;height:1px;animation:width both 1s 0.2s;}
.mc08 .tit.active p .a2:after {right:0;bottom:7px;width:100%;height:1px;animation:width both 1s 0.2s;}
.mc08 .tit.active p .a3:before {left:50px;top:7px;width:1px;height:116px;animation:height both 0.5s 0.8s;}
.mc08 .tit.active p .a3:after {left:145px;bottom:7px;width:1px;height:116px;animation:height both 0.5s 0.8s;}
.mc08 .tit.active p .a4:before {left:240px;top:7px;width:1px;height:116px;animation:height both 0.5s 0.8s;}
.mc08 .tit.active p .a4:after {left:335px;bottom:7px;width:1px;height:116px;animation:height both 0.5s 0.8s;}
.mc08 .tit.active p .a5:before {left:430px;top:7px;width:1px;height:116px;animation:height both 0.5s 0.8s;}
.mc08 .tit.active p .a5:after {left:525px;bottom:7px;width:1px;height:116px;animation:height both 0.5s 0.8s;}
.mc08 .tit.active p .a6:before {left:620px;top:7px;width:1px;height:116px;animation:height both 0.5s 0.8s;}
.mc08 .tit.active p .a6:after {left:715px;bottom:7px;width:1px;height:116px;animation:height both 0.5s 0.8s;}
.mc08 .tit.active p .a7:before {left:810px;top:7px;width:1px;height:116px;animation:height both 0.5s 0.8s;}
.mc08 .tit.active p span {opacity:1;transition:all 0.8s 0.8s;}

.mc08 .list {position:relative;height:2151px;}
.mc08 .list li {position:absolute;opacity:0;transform:translateY(40px);transition:all 0.6s 0.4s;}
.mc08 .list li.active {opacity:1;transform:translateY(0);}
.mc08 .list li:nth-child(2).active,
.mc08 .list li:nth-child(5).active {transition-delay:0.6s;}
.mc08 .list li:nth-child(1) {left:-8px;top:-6px;}
.mc08 .list li:nth-child(2) {right:-9px;top:-6px;}
.mc08 .list li:nth-child(3) {right:0;top:646px;}
.mc08 .list li:nth-child(4) {left:-8px;top:978px;}
.mc08 .list li:nth-child(5) {left:400px;top:978px;}
.mc08 .list li:nth-child(6) {right:-8px;top:1215px;}
.mc08 .list li:nth-child(7) {left:-8px;top:1562px;}
.mc08 .list li:nth-child(8) {left:410px;top:1635px;}






/*** 선물하기 ***/
.mc09 {position:relative;background:#000;height:1046px}
.mc09_cont {position:relative;width:1736px;margin-left:-268px;box-sizing:border-box;}
.mc09_cont .tit {position:absolute;left:-5px;top:310px;width:100%}
.mc09_list {position:relative;width:100%;height:550px;text-align:center;overflow:hidden;cursor:default;}
.mc09_list li {display:block;font-size:64px;font-weight:300;line-height:100px;opacity:0.8;letter-spacing:-3px;transition:all 0.4s;}
.mc09_list li.act {font-size:90px;font-weight:900;line-height:120px;opacity:1;letter-spacing:-7px;;}
.mc09_area {position:absolute;left:500px;top:125px;width:600px;}

.mc09_cont .list {position:absolute;left:0;top:676px;width:100%;height:370px;}
.mc09_cont .list li {float:left;margin-left:21px;opacity:0;transform:translateY(30px);}
.mc09_cont .list li:first-child {margin-left:0;}
.mc09_cont .list.on li {opacity:1;transform:translateY(0);transition:all 0.6s}
.mc09_cont .list.on li:nth-child(2) {transition-delay:0.2s;}
.mc09_cont .list.on li:nth-child(3) {transition-delay:0.4s;}
.mc09_cont .list.on li:nth-child(4) {transition-delay:0.6s;}
.mc09_cont .list.on li:nth-child(5) {transition-delay:0.8s;}



/*** Best Product ***/
.mc10 {position:relative;padding:185px 0 140px 0;background:#fff;}
.mc10 .tit {margin:0 0 80px -7px;font-size:120px;line-height:120px;font-weight:900;text-align:left;letter-spacing:-0.5px;}
.mc10 .tit span {margin-left:13px;color:transparent;-webkit-text-stroke:0.1mm #f5f5f5;text-stroke:0.1mm #f5f5f5;transition:all 0.6s;}
.mc10 .tit strong em {display:inline-block;position:relative;color:transparent;-webkit-text-stroke:0.4mm #000;text-stroke:0.4mm #000;font-style:normal;}
.mc10 .tit strong em:before {display:block;position:absolute;left:0;top:0;width:0;height:120%;color:#000;overflow:hidden;content:attr(data-text);}
.mc10 .tit .ico {display:none;position:absolute;left:-5px;top:-50px;width:65px;}
.mc10 .tit.active strong em:before {animation:txtMask both 0.4s;}
.mc10 .tit.active strong em:nth-child(1):before {animation-delay:0.2s;}
.mc10 .tit.active strong em:nth-child(2):before {animation-delay:0.4s;}
.mc10 .tit.active strong em:nth-child(3):before {animation-delay:0.6s;}
.mc10 .tit.active strong em:nth-child(4):before {animation-delay:0.8s;}
.mc10 .tit.active span {-webkit-text-stroke:0.4mm #000;text-stroke:0.4mm #000;transition-delay:1s;}
.mc10 .tit.active .ico {display:block;}

.mc10 .list {position:relative;margin:10px -13px 0 -13px;}
.mc10 .list li {float:left;margin:60px 13px 0 13px;opacity:0;transition:all 0.4s;}
.mc10 .list li.active {opacity:1;}
.mc10 .list li:nth-child(1).active {transition-delay:0.4s;}
.mc10 .list li:nth-child(2).active {transition-delay:0.6s;}
.mc10 .list li:nth-child(3).active {transition-delay:0.8s;}
.mc10 .list li:nth-child(4).active {transition-delay:1s;}
.mc10 .list li:nth-child(5).active {transition-delay:0.4s;}
.mc10 .list li:nth-child(6).active {transition-delay:0.6s;}
.mc10 .list li:nth-child(7).active {transition-delay:0.8s;}
.mc10 .list li:nth-child(8).active {transition-delay:1s;}
.mc10 .list:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.mc10 .btn {margin-top:80px;}


@keyframes txtMask {
0% {width:0%;opacity:0;}
100% {width:105%;opacity:1;}
}





/*** Best Product02 ***/
.mc11 {position:relative;padding:150px 0 105px 0;background:#f2c3c9;}
.mc11 .list {position:relative;margin:10px -13px 0 -13px;}
.mc11 .list li {float:left;margin:45px 13px 0 13px;opacity:0;transition:all 0.4s;}
.mc11 .list li.active {opacity:1;}
.mc11 .list li:nth-child(1).active {transition-delay:0.4s;}
.mc11 .list li:nth-child(2).active {transition-delay:0.6s;}
.mc11 .list li:nth-child(3).active {transition-delay:0.8s;}
.mc11 .list li:nth-child(4).active {transition-delay:1s;}
.mc11 .list li:nth-child(5).active {transition-delay:0.4s;}
.mc11 .list li:nth-child(6).active {transition-delay:0.6s;}
.mc11 .list li:nth-child(7).active {transition-delay:0.8s;}
.mc11 .list li:nth-child(8).active {transition-delay:1s;}
.mc11 .list:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.mc11 .btn {margin:70px 0 90px 0;}




/*** 공지사항 ***/
.mc12 {position:relative;height:140px;border:solid #000;border-width:4px 0;box-sizing:border-box;}
.mc12_cont {display:block;height:132px;background:url("../images/mc12_img01.png") left center repeat-x;animation:mc12_cont both infinite linear 25s;}

@keyframes mc12_cont {
0% {background-position:0 center;}
100% {background-position:-3142px center;}
}





.music01 {position:relative;background:#1570ff url("../images/music01_bg.png") center repeat;border-bottom:4px solid #000;}
.music01 .m_inner {height:784px;background:url("../images/music01.png") center no-repeat;}

.music02 {position:relative;background:#fff;}
.music02 .m_inner {height:234px;background:url("../images/music02.jpg") center no-repeat;}

.music03 {position:relative;background:#fff;}
.music03 .m_inner {height:1016px;background:url("../images/music03.jpg") center no-repeat;}

.music04 {position:relative;background:#ffe61a url("../images/music04_bg.png") center repeat;}
.music04 .m_inner {height:526px;background:url("../images/music04.png") center no-repeat;}

.music05 {position:relative;background:#fff;}
.music05 .m_inner {height:1132px;background:url("../images/music05.jpg") center no-repeat;}


.music06 {position:relative;background:#fff;}
.music06 .m_inner {height:1684px;background:url("../images/music06.jpg") center no-repeat;}
.music06 .img {position:absolute;left:50%;top:314px;width:2414px;height:1240px;transform:translateX(-50%);}

.music06 .txt01 {position:absolute;left:0;top:210px;width:100%;height:153px;background: url("../images/music06_txt01.png") center repeat-x;animation:music06_01 both infinite linear 20s;}
.music06 .txt02 {position:absolute;left:0;top:567px;width:100%;height:153px;background: url("../images/music06_txt01.png") center repeat-x;animation:music06_01 both infinite linear 15s;}
.music06 .txt03 {position:absolute;left:0;top:389px;width:100%;height:150px;background: url("../images/music06_txt02.png") center repeat-x;animation:music06_02 both infinite linear 18s;}



@keyframes music06_01 {
0% {background-position:0 center;}
100% {background-position:-1150px center;}
}
@keyframes music06_02 {
0% {background-position:0 center;}
100% {background-position:1150px center;}
}


.music07 {position:relative;background:#d4ff1a;}
.music07 .m_inner {height:238px;background:url("../images/music07.jpg") center no-repeat;}

.music08 {position:relative;background:#fff;}
.music08 .m_inner {height:1081px;background:url("../images/music08.jpg") center no-repeat;}

.music09 {position:relative;background:#f0f0f0;}
.music09 .m_inner {height:1100px;background:url("../images/music09.jpg") center no-repeat;}

.music10 {position:relative;background:#fff;}
.music10 .m_inner {height:1186px;background:url("../images/music10.jpg") center no-repeat;}

.music11 {position:relative;background:#050505;}
.music11 .m_inner {height:1186px;background:url("../images/music11.jpg") center no-repeat;}

.music12 {position:relative;background:#d4ff1a;}
.music12 .m_inner {height:250px;background:url("../images/music12.jpg") center no-repeat;}

.music13 {position:relative;background:#fff;}
.music13 .m13_1 {height:348px;background:url("../images/music13_01.jpg") center no-repeat;}
.music13 .m13_2 {height:480px;background:url("../images/music13_02.jpg") center no-repeat;}
.music13 .m13_3 {height:466px;background:url("../images/music13_03.jpg") center no-repeat;}
.music13 .m13_4 {height:514px;background:url("../images/music13_04.jpg") center no-repeat;}













.sub_area {position: relative;max-width:1300px;margin:0 auto;}





